.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 60s linear;
  height: 40px;
}
.header {
  margin-left: 10px;
  font-size: 1.2em;
}
.App-header {
  background-color: #222;
  height: 60px;
  color: white;
}

.App-intro {
  font-size: large;
 
}

.left {
  float: left;
  padding: 1%;
  clear: both;
  display: inline-block;
  font-size: 20px;
}

takki-min {
  float: right;
}

hlutfall-gildi {
  margin: 1%;
}

.hlutfallsbord {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
div.TeacherForm {
 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
div.BorderTeacherForm {
  width: 100%;
  border: solid;
  border-width: 0.5px;
  padding: 1%; 
  margin-top: 1%;
}
div.TeacherUnitForm {
  padding: 2%;
  width: 20%;
}

div.CourseForm {
  padding-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
div.BorderCourseForm {
  width: 100%;
  border: solid;
  border-width: 0.5px;
  padding: 1%; 
  margin-top: 1%;
}
div.CourseUnitForm {
  width: 100%;
}

div.CourseUnitFormMin {
  width: 10%;
}

div.mainBody {
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
}

.afangiHeiti {
  padding-left: 1%;
}
.takki  {
  float: right;
  margin: 5px;
}

.afangiRammi {
  margin-top: 1%;
  border-style: solid;
  border-width: 1px;
  padding: 1%;

}
.nidurstadaAfanga {
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.listarNidurstodur {
  width: 15%;
  margin-left: 1%;
}

.kennariRammi {
  margin-top: 1%;
  border-style: solid;
  border-width: 1px;
  padding: 1%;
}
.nidurstadaKennari {
  
 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.listarNidurstodurKennarar {
  width: 80%;
  margin-left: 1%;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

