.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-header {
  background-color: #222;
  height: 60px;
  color: white;
}

.App-intro {
  font-size: large;
 
}

.left {
  float: left;
  padding: 1%;
  clear: both;
  display: inline-block;
  font-size: 20px;
}

div.TeacherForm {
 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
div.BorderTeacherForm {
  width: 100%;
  border: solid;
  border-width: 0.5px;
  padding-left: 2%; 
  margin-top: 1%;
}
div.TeacherUnitForm {
  width: 20%;
}

div.CourseForm {
 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
div.BorderCourseForm {
  width: 100%;
  border: solid;
  border-width: 0.5px;
  padding-left: 2%; 
  margin-top: 1%;
}
div.CourseUnitForm {
  width: 12%;
}

div.CourseUnitFormMin {
  width: 7%;
}

div.mainBody {
  padding-left: 2%;
  padding-right: 2%;
}

.takki  {
  float: right;
  margin: 5px
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
